:root {
    font-family: 'Open Sans', sans-serif;
}
html {
    height: 100%;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    background-color: white;
    z-index: 1;
    box-shadow: 0 0 10px #FFFFFF;
    transition: top .2s;
}
#logo {
    width: 25px;
    height: 35px;
    padding: 13px;
}
#navbar {
    display: none;
}
mark {
    background-color: #ffdddd;
}