:root {
    font-family: 'Karla', sans-serif;
}
h1 {
    font-family: 'Prata', serif;
    font-weight: 400;
    font-size: 6em;
}
h1{
    position: relative;
    display:inline-block;
}
h1::after {
content: "";
position: absolute;
width: 100%;
background: orange;
left: .5em;
bottom: 0;
height: 1em;
z-index: -1;
}
h2 {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
}
h3 {
    font-family: 'Prata', serif;
    font-size: 2em;
}
a {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: none;
}
#head_desc {
    font-size: 1.5em;
    font-weight: 400;
}
.project {
    display: flex;
    align-items: center;
}