:root {
    font-family: 'Nanum Gothic', sans-serif;
}
h1 {
    font-family: 'Prata', serif;
    font-weight: 400;
    font-size: 6em;
}
a {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    font-weight: 700;
}
h3 {
    font-size: 1.5em;
    font-weight: 400;
}