.root {
    font-family: 'Lato', sans-serif;
}
h1 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
}
a {
    font-family: 'Playfair Display', serif;
    size: .75em;
    font-weight: 700;
}